doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=0.5")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    //script(src="https://unpkg.com/react@15.3.2/dist/react.js")
    //script(src="https://unpkg.com/remarkable@1.7.1/dist/remarkable.min.js")
  body
    .navbar-fixed
      nav.blue-grey.darken-3
        .nav-wrapper
          a.left#button-collapse(href="#" data-activates="slide-out")
            i.material-icons menu
          a.right(href="http://193.124.178.232:100/login?ruri=http://193.124.178.232:3045/")
            i.material-icons input
          ul.right
            li
              a.right
                span.new.red.badge(data-badge-caption="новых") 4
    .container#container
    block content
    footer.page-footer.blue-grey.darken-3
      .footer-copyright
        .container
          a.grey-text.text-lighten-4.left(href="#!") Система электронного документооборота
          a.grey-text.text-lighten-4.right(href="http://jelata.tech" target="_blank") @JELATA
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
    script(type="text/javascript" src="js/bundle.min.js")
